@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: #0a141e;
	text-align: center;
	color: #c8d2dc;
}

body {
	margin: 0;
	color: #c8d2dc;
	font-family: 'Geom', sans-serif;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Geom', sans-serif;
	font-weight: 500;
}

@font-face {
	font-family: 'Geom';
	font-style: normal;
	font-weight: 300;
	src: url('assets/fonts/Geom-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'Geom';
	font-style: normal;
	font-weight: 500;
	src: url('assets/fonts/Geom-Medium.woff2') format('woff2');
}

#app {
	height: 100vh;
	text-align: center;
}
